In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [6]:
# Ruta del archivo cargado
file_path = "Ventas_por_cliente_por_producto.xlsx"

# Cargar el archivo y listar las hojas disponibles
xls = pd.ExcelFile(file_path)

xls.sheet_names

['Sheet1']

In [7]:
# Cargar los datos de la hoja "Sheet1"
df = pd.read_excel(xls, sheet_name="Sheet1")

# Mostrar las primeras filas del DataFrame
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,Ventas por cliente por producto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SURTIGRANOS-ROVIRA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,65746038-8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,De Enero 01 2024 a Diciembre 31 2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Buscar la fila donde comienzan los encabezados reales
df_clean = pd.read_excel(xls, sheet_name="Sheet1", skiprows=7)

# Eliminar columnas vacías
df_clean = df_clean.dropna(axis=1, how='all')

# Mostrar las primeras filas después de limpiar
df_clean.head()

,Identificación,Nombre cliente,Código producto,Nombre producto,Grupo inventario,Cantidad vendida,Valor bruto,Descuento,Subtotal,Impuesto cargo,Impuesto retención,Total
0,1109001035-9,CARLOS GUTIERREZ,9990583.0,LINAZA X500GR,Productos,1.0,4621.85,0.0,4621.85,878.15,0.0,5500.0
1,14145056-6,DAMASO GUALTERO,9990583.0,LINAZA X500GR,Productos,1.0,4621.85,0.0,4621.85,878.15,0.0,5500.0
2,11383548-7,EDGAR LUGO,9990583.0,LINAZA X500GR,Productos,3.0,13361.34,0.0,13361.34,2538.66,0.0,15900.0
3,2375457-9,HUGO CESPEDES,9990583.0,LINAZA X500GR,Productos,2.0,9243.70,0.0,9243.70,1756.30,0.0,11000.0
4,1006004488-1,NEVER JULIAN BARRAGAN,9990583.0,LINAZA X500GR,Productos,1.0,4453.78,0.0,4453.78,846.22,0.0,5300.0